.ciziq {
    border: 1px solid rgba(0, 0, 0, 0.514);
}

#eighthpage {
    width: 100%;
    height: 20vh;
    background-color: #1e1e1e;
}

.ep1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ep1-2 {
    color: white;
    font-size: 15px;
}

.tepaga {
    padding: 5px 10px;
    font-size: 25px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    border: 1px solid #86dd44;
}

