#firstPage {
    width: 100%;
    height: 100vh;
    // position: absolute;
    background-image: url(/images/frame.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
}

.container {
    max-width: 1450px;
    height: 100%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
}

.link:hover {
    text-decoration: none;
    color: #86DA44;
}

.firstPage1-1 {
    width: 14%;
}

.nav1 h1 {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin-bottom: -5px;
}

.iks {
    display: none;

    button {
        padding: 5px;
        font-size: 30px;
        background: transparent;
        color: white;
        border: none;
    }
}

.nav1-1 {
    display: none;
}

.nav1 p {
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    color: white;
    position: relative;
    margin-bottom: 0;
}

.nav1 p::after {
    position: absolute;
    content: "";
    bottom: -5px;
    height: 2px;
    background-color: #86DA44;
    left: 0;
    width: 70px;
}

.nav2 {
    width: 56%;
    display: flex;
    // justify-content: flex-start;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.menular {
    list-style: none;
    margin-right: 20px;
}

.linklar {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

.linklar:hover {
    text-decoration: none;
    color: #86DA44;
}

.active {
    color: #86DA44;
}

.nav3 {
    width: 30%;
    // margin-right: -55px;
}

.nav3-1 {
    display: flex;
    justify-content: flex-end;
}

.nav3-1 a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-left: 15px;
}