.firstpage3 {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.firstpage3-1 {
    width: 14%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.zero {
    font-style: normal;
    font-weight: 600;
    font-size: 26.6471px;
    color: white;
}

.four {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #86DA44;
}

.firstpage3-2 {
    width: 86%;
}