.pagesecond {
    width: 100%;
    height: 100vh;
    background-image: url(/images/Rectangle24.jpg);
    background-size: cover;
}

.sp {
    display: flex;
}

.sp-1 {
    width: 40%;
}

.sp-1-1 {
    display: flex;
    align-items: center;
}

.bor {
    font-weight: 550;
}

.sp-2 {
    width: 60%;
    padding-left: 200px;
}

.sp-1-2 {
    margin-top: 40px;
    margin-left: 20px;

    p {
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
    }
}

.sp-2 {
    position: relative;
    padding-top: 70px;
    display: flex;

    p {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    span {
        align-self: flex-start;
    }
}

.zayav {
    margin-top: 40px;
    width: 300px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    border: 1px solid #86da44;
    transition: all 0.2s ease-in;
}

.sp-2-1 {
    width: 30%;
}

.sp-2-2 {
    width: 70%;

    p {
        font-style: normal;
        font-weight: 200;
        font-size: 15px;
    }
}

.sp-2-3 {
    display: flex;
}

.ortiq {
    position: absolute;
    margin-top: 460px;
    margin-left: 1050px;
    display: flex;

    .ortiq2 {
        margin-left: 10px;
        font-weight: 200;
    }

    img {
        width: 44px;
        height: 44px;
    }
}